body{
    background:gold;
}
*{
    margin:0;padding:0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.md{
    width:1226px;
    margin:0 auto;
}
.clearfix:after{
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
    font-size:0;
    clear: both;
}
.clearfix{
    *zoom:1
}